@inherits LayoutComponentBase

<PageTitle>边缘大脑</PageTitle>

<div class="page">

    <h1>asfasfd</h1>
    <main>

        <div class="top-row ps-3 navbar navbar-dark">
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
